/*
Palette from: https://coolors.co/afb927-1c1c1c-646f58-eff1ed-cdd3d5

acid-green
#AFB927

Blackboard
#1C1C1C

Ebony
#646F58

Cultured
#EFF1ED

Light Gray
#CDD3D5
 */
$color-primary: #AFB927;
$color-background: #050505;
$color-header: #EFF1ED;
$color-subheader: #CDD3D5;
$color-text: #646F58;
