// Fonts!

@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: SmudgieCrayon;
    src: url('../../public/assets/SmudgieCrayon-rY0O.ttf');
}

@font-face {
    font-family: SimpleChalk;
    src: url('../../public/assets/Very Simple Chalk.ttf');
}
