@use 'colors';
@use 'elements';

@media screen and (orientation: portrait) and (max-width:600px) {
    html {
        #root {
            padding: 0;
            box-sizing: border-box;
            
            &.scroll-lock {
                overflow-y: hidden;
            }

            .mobile-only {
                display: block;
            }

            > header, > main{
                min-width: 100vw;
                min-height: 100vh;
                width: 100vw;
            }
            > header {
                height: 100vh;
            }
            > main {
                padding: 0 1rem;
                box-sizing: border-box;
                padding-bottom: 15vh;
            }
            dialog {
                width: 25vw;
                height: 10vh;
                overflow: visible;
            }
        }
    }
    
}
