@use 'colors';

@media screen and (orientation: portrait) and (max-width:600px) {
    html {
        body {
            padding: 0;
            box-sizing: border-box;
            .mobile-only {
                display: block;
            }

            > aside, > main{
                min-width: 100vw;
                min-height: 100vh;
                width: 100vw;
                height: 100vh;
            }
            > aside {
                #scroll-button {
                    position: absolute;
                    bottom: 0.5rem;
                    left: 50%;
                    right: 50%;
                }
            }
            > main {
                padding: 0 1rem;
                box-sizing: border-box;
            }
            dialog {
                width: 25vw;
                height: 10vh;
                &.open {
                    &.show-modal {
                        margin-left: 70vw;
                    }
                }
            }
        }
    }
    
}
